numpy
pandas
beautifulsoup4
requests
selenium
webdriver-manager
twscrape
asyncio
httpx[brotli]
brotli
ipynb
psycopg2
flask
flask[async]
requests-oauthlib
tweepy
sqlalchemy
nltk
scikit-learn
matplotlib
spacy
